@model RailwayReservation.Models.ViewModels.PassengerViewModel


<div class="col-md-12 mx-auto">
     <h2>Delete Passenger</h2>
    @*<div class="form-group mb-3">
        @Html.LabelFor(model => model.PassengerID, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.PassengerID, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>*@
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.PassengerName, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.PassengerName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.PassengerEmail, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.PassengerEmail, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.PassengerPhone, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.PassengerPhone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.JourneyDate, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.JourneyDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.TrainNo, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(model => model.TrainNo, new SelectList(ViewBag.Trains, "TrainNo", "TrainName"), new { @class = "form-select", @disabled = "disabled" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.RouteID, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(model => model.RouteID, new SelectList(ViewBag.Routes, "RouteID", "RouteName"), new { @class = "form-select", @disabled = "disabled" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(model => model.ClassID, new SelectList(ViewBag.Classs, "ClassID", "ClassName"), new { @class = "form-select", @disabled = "disabled" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(model => model.ClassID, new SelectList(ViewBag.Classs, "ClassID", "Fare"), new { @class = "form-select", @disabled = "disabled" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "form-label  mb-3" })<br />
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.ImageName" height="120" width="110" class="changeEdit" />
    </div>

    @using (Html.BeginForm("Delete", "Passenger", FormMethod.Post))
     {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.PassengerID)
        @Html.HiddenFor(model => model.ImageName)
        <div class="form-group mb-3 text-center">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure that you wanna delete this record')" />
        </div>
     }
</div>
